:root {
  	font-size: 16px;
}

/* Resets */
* {
	box-sizing: border-box;
	font-family: "Roboto", serif;
}
footer p {
	margin: 30px auto;
	font-size: 12px;
}
ul {
	margin: 0;
	padding: 0;
}
a {
  	text-decoration: none;
}

header img {
	width: 50vw;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

nav ul li {
	
  /* Layout */
 	 list-style: none;
 	 margin: 5px;
  /* Spacing */
  	text-align: center;
 	 line-height: 2rem;
  /* Color */
 	 background-color: hsl(200, 100%, 40%);
  /* Border */
  	border-radius: 5px;
}
li a {
 	 color: #f2f2f4;
  	text-transform: uppercase;
  	font-weight: bold;
  	/* color for links */
	text-decoration: none;
}
li a:hover{
	background-color: hsl(200, 60%, 40%);
	/* color for links */
	text-decoration: none;
	/*remove underline when hovering*/
	color: lightgrey;
}

.main-content, .survey-main-content{
	margin: 10px;
}

.main-content h1, .survey-main-content h1{
	font-size: 25px;
	font-weight: bold;
}
.all-park-info, .favoriteParks, .parkDetail-coreInfo{
	margin: 10px;
	width: 90vw;
	background-color: aliceblue;
	border-radius: 25px;
	padding: 10px;
	/*separate individual park content*/
}

#park-facts{
	margin: 10px auto;
	width: 70vw;
	background-color: linen;
	border-radius: 25px;
	padding: 10px;
	/*separate individual park content*/
}
#park-facts ul li {
	list-style: none;
}

.weather, .five-day-weather {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px auto;
	width: 70vw;
	border-radius: 25px;
	border: solid grey 1px;
	padding: 10px;
}

#today-weather-image img {
	width: 60vw;
}

#five-day-forecast {
	width: 70vw;
	margin: 10px auto;
}

.recommendations {
	display: block;
	border-top: solid grey 1px;
	margin: 15px;
}

h5 {
	font-size: 18px;
}


.park-image img, .fave-park-image img {
	margin-bottom: 10px;
	border-radius: 25px;
	width: 85vw;
	/*change the size of the images and round corners*/
}

.park-info h1, .park-rank-info h1{
	font-size: 25px;
	font-weight: bold;
	/*Adjust size of titles and bold them -- might not want bold*/
}

.park-info h1 a{
	text-decoration: none;
	/*remove underline from hover over park name*/
}

.park-info h2{
	font-size: 18px;
	font-weight: bold;
	/*Adjust size of states*/
}

.quote{
	padding: 30px;
}

#fancyQuote{
	font-family: 'Calligraffitti', cursive;
	font-size: 30px;
}

.btn-primary {
	background-color: hsl(200, 100%, 40%);
}

label {
	font-weight: bold;
}

errors {
	color: red;
}

/* New breakpoint at 900px */
@media only screen and (min-width: 900px) {
	
	body {
		max-width: 900px;
	}
		
	  /* make the nav links go to one line */
	nav ul {
	  flex-direction: row;
	  justify-content: center;
	}
	/* Each nav link should take up just a third of the width (with some padding) */
	nav ul li {
	  flex-basis: 20%;
	}
	
	.parkDetail-coreInfo {
		width: 850px;
	}
	
	.all-park-info {
		display: grid;
		grid-template-columns: 2em 1fr 2fr 2em; 
		grid-template-rows: auto;
		grid-template-areas:
			". img info .";
		padding: 10px 0px;
	}
	.park-image {
		grid-area: img;
	}
	.park-image img{
		border-radius: 25px;
		width: 100%;
		/*change the size of the images and round corners*/
	}
	.park-info {
		grid-area: info;
		padding-left: 10px;
	}

	.extras {
		display: flex;
		justify-content: space-around;
	}
	#park-facts{
		margin: 10px auto;
		width: 40%;
		background-color: linen;
		border-radius: 25px;
		padding: 10px;
		border: solid grey 1px;
		/*separate individual park content*/
	}
	#park-facts li {
		margin-bottom: 3px;
	}
	#park-facts ul li span {
		font-weight: bold;
	}
	.weather {
		width: 40%;
	}
	#today-weather-image img {
		width: 40%;
	}
	
	
	.weather-group {
		display: flex;
		margin: 20px;
	}
	
	.five-day-weather {
		font-size: 14px;
		flex-direction: column;
		justify-content: flex-start;
	}
	#daily-weather-image img {
		width: 50%;
	}
	
	
	.favoriteParks {
		margin: 10px 30px;
		width: 65%;
	}
	.fave-park-image img {
		width: 100%;
	}
	
	.survey-main-content {
		margin: 10px auto;
		width: 500px;
	}
	
}
